/* -----------------------
Fonts 
----------------------- */ 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* -----------------------
Global CSS 
----------------------- */ 

:root{
    --Dark-blue-dark-blue-300: #0A3871;
    --Gray-gray-400: #495049;
    --Gray-gray-500: #343A40;
    --Light-blue/light-blue-100: #F3F5FC;
    --White: #FFFFFF;

    --font-inter: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--White);
    font-family: var(--font-inter)
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

::selection{
    background: var(--Dark-blue-dark-blue-300);
    color: var(--White);
}

body{
    height: 100%;
}

img{
    height: 100%;
}

/* -----------------------
Header
----------------------- */ 

header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo{
    display: flex;
    align-items: flex-start;
    padding-top: 120px;
    margin-left: 48px;
}

/* -----------------------
Main
----------------------- */ 

main{
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;
}

.encryptor{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}

.encrypts{
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--Gray-gray-500);
    border-radius: 15px;
    resize: none;
}

..encrypts::placeholder,:focus{
    color: var(--Dark-blue-dark-blue-300); 
    }

.encryptor-Information{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}
    .text-information {
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        opacity: 0.8;
        color: var(--Gray-gray-500);
        font-size: 18px;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;
        position: absolute;
        top: 526px;
    }
    
    .encryptionBtn {
        width: 328px;
        height: 67px;
        padding: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: var(--White);
        background-color: var(--Dark-blue-dark-blue-300);
        border-radius: 24px;
        cursor: pointer;  
    }
    
    .decryptionBtn {
        width: 328px;
        height: 67px;
        padding: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: var(--Dark-blue-dark-blue-300);
        background: var(--Light-blue);
        border-radius: 24px;
        cursor: pointer;
    }



    .card{
        width: 270px;
        height: 580px;
        background: var(--Light-blue);
        box-shadow: 10px 24px 32px -8px var(--Gray-gray-400);
        position: relative;
        margin-top: 40px;
        border-radius: 32px;
        text-align: center;
    }
    
    .card-container{
        width: 250px;
        margin: auto;
        margin-top: 50%;
        background: var(--Light-blue);
    }
    
    .img-muñeco{
        background: var(--White);
    }
    
    .text-one{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: var(--Gray-gray-400);
        background-color: var(--Light-blue);
    }
    
    .text-two{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: var(--Gray-gray-400);
        background-color: var(--Light-blue);
    }
    
    .evaluate{
        width: 100%;
        height: 485px;
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: var(--Gray-gray-400);
        background: transparent;
        border-top-right-radius: 32px;
        border-top-left-radius: 32px;
        border: none;
        resize: none;
    }
    
    .evaluate:focus{
        outline: none;
    }
    
    .copyBtn{
        width: 224px;
        height: 67px;
        margin: 23px;
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
        padding: 24px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        background: var(--Light-blue);
        border: 1px solid var(--Dark-blue-dark-blue-300);
        border-radius: 20px;
        cursor: pointer;
    }

/* -----------------------
Footer 
----------------------- */ 

footer{
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--White);
    color: var(--Gray-gray-400);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--Gray-gray-500);
}





